body {
	font-family: 'Slabo 27px', serif;
	background-color: pink;
}

header {
	background-color: powderblue;
}

h1{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h2 {
	margin-left: 50px;
	font-size: 25px;
}

h3 {
	text-align: right;
	margin-right: 50px;
	font-size: 25px;
}

h4 {
	margin-left: 18px;
	font-size: 25px;
}

h5 {
	text-align: right;
	margin-right: 18px;
	font-size: 25px;
}



.container1 {
	font-family: 'Slabo 27px', serif;
	padding-left: 250px;
	padding-right: 250px;
}

.container2 {
	font-family: 'Slabo 27px', serif;
	margin: 0 auto;
	border-style: solid;
    border-width: 2px;
    border-color: blue;
    padding: 5px;
    float: right;
    width: 65%;
}

.container3 {
	font-family: 'Slabo 27px', serif;
	margin: 0 auto;
	border-style: solid;
    border-width: 2px;
    border-color: blue;
    padding: 5px;
    float: left;
    width: 65%;
}
.left {
	float: left;
	width: 30%;
}
.clear {
	clear: both;
}

footer {
	text-align: center;
	display: block;
	padding: 250px 0 25px 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

